body{
  font-family: $fontFamily;
  background-repeat: repeat-x;
}
body, html {
  padding: 0;
  margin: 0;
}
*{
  box-sizing: border-box;
}
.humidityColor{
 color: #fb8086;
}
.windColor{
color: #3593f8;

}
.pressureColor{
color: #ffc14f;
}
.container{
  width: 375px;
  margin: 0 auto;
  margin-bottom: 11px;
}
:root{
  font-size: 10px;
}