body{
  font-family: $fontFamily;
  background-repeat: no-repeat;
  background-size: 180% 100%;
  background-position: 50% 0;
}
body, html {
  padding: 0;
  margin: 0;
}
*{
  box-sizing: border-box;
}
.humidityColor{
 color: #fb8086;
}
.windColor{
color: #3593f8;

}
.pressureColor{
color: #ffc14f;
}
.container{
  width: 315px;
  margin: 0 auto;
  margin-bottom: 11px;
  @include mobileM {
    width: 370px;
  }
  @include mobileL {
    width: 420px;
  }
  @include mobileXL {
    width: 590px;
  }
  @include tablet {
    width: 760px;
  }
  @include laptopS {
    width: 1000px;
  }
}
:root{
  font-size: 10px;
  @include tablet {
    font-size: 17px;
  }
}