body{
  height: 100vh;
  font-family: $fontFamily;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0;
  background-attachment: fixed;
}
body, html {
  padding: 0;
  margin: 0;
}
*{
  box-sizing: border-box;
}
.bg{
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  /* z-index usage is up to you.. although there is no need of using it because the default stack context will work. */
  z-index: -1; // this is optional
  top: 0;
  z-index: -1;
  top: 0;
  left: 0;
  filter: blur(20px);
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.4);
}
.humidityColor{
 color: #fb8086;
}
.windColor{
color: #3593f8;

}
.pressureColor{
color: #ffc14f;
}
.container{
  width: 315px;
  margin: 0 auto;
  margin-bottom: 11px;
  padding-bottom: 10px;
  @include mobileM {
    width: 370px;
  }
  @include mobileL {
    width: 420px;
  }
  @include mobileXL {
    width: 590px;
  }
  @include tablet {
    width: 760px;
  }
  @include laptopS {
    width: 1000px;
  }
  @include laptopM {
    width: 1240px;
  }
  @include laptopXL {
     width: 1400px;
  }
  @include desktopS {
    width: 1590px;
  }
}
:root{
  font-size: 10px;
  @include tablet {
    font-size: 17px;
  }
}