.extendedDaily__content{
  display: flex;

}
.extendedForecast{
  border-bottom: 2px solid white;
  border-top: 2px solid white;;
  margin-top: 40px;
  overflow-x: auto;
  font-size: 10px;
  &::-webkit-scrollbar{
    width: 12px;
  }
  &::-webkit-scrollbar-thumb{
    border-radius: 6px;
    background: rgba(0, 0, 0, 0.2);
  }
  .extendedDaily__container{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    &:first-child{
      display: none;
    }
  }
  &__title{
    font-size: 1.6em;
      text-align: center;
      margin-bottom: 9px;
  }
}

.extendedDaily__general{
  width: 50%;
  height: 118px;
  border-right: 2px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 10px;
  img{
   width: 75px;
   height: auto;
   object-fit: cover;
  }
  div{
    margin-top: 0.8em;
     font-size: 1.5em;
     letter-spacing: 0.063rem;
  }
}
.extendedDaily__conditions{
  box-sizing: border-box;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-left: 22px;
  font-size: 10px;
}
.extendedDaily__singleCondition{
  font-size: 1.3em;
  display: flex;
  align-items: center;
   //color: $color-weatherForecast-condition;
  img{
    width: 2.1em;
    height: auto;
    object-fit: cover;
    margin-right: 0.7em;
  }
}