.navigation {
  width: 100%;
  height: 40px;
  padding: 5px 0;
  background-color: $backgroundColor-opacity;
  border-radius: 0 0 17px 17px;
  box-shadow: 0 0 1px 0 #0a0a0a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;

  @include mobileL {
    height: 47px;
  }
  @include tablet {
    height: 64px;
  }
  @include laptopS {
    border-radius: 0 0 28px 28px;
    height: 44px;
  }
  &__searchBar {
    background-color: $backgroundColor-opacity;
    width: 76%;
    height: 100%;
    border-radius: 25px;
    border: none;
    outline: none;
    text-align: center;
    font-size: 19px;
    color: $fontColor-primary;

    &:focus {
      background-color: rgba(0, 0, 0, 0.2);
    }
    @include tablet {
      font-size: 26px;
    }
  }
  &__toggleIcon {
    margin-right: 10px;
    img {
      height: 30px;
      width: auto;
      object-fit: cover;
      @include tablet {
        height: 44px;
      }
      @include laptopS {
        height: 30px;
      }
      &:hover{
        cursor: pointer;
      }
    }
  }
}

.savedCities {
  width: 100%;
  box-shadow: 0 0 2px #0a0a0a;
  background-color: $backgroundColor-opacity;
  border-radius: 0 0 17px 17px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  color: white;
  .closeIcon {
    font-size: $fontSize-savedCloseIcon;
    margin-top: 5px;
    &:hover {
      color: $color-weatherForecast-condition;
      cursor: pointer;
    }
    @include tablet {
      font-size: 47px;
      margin-top: 9px;
    }
  }
  &__title {
    font-size: $fontSize-savedTitle;
    text-shadow: 1px 1px 2px #ffffff;
    margin-top: 2px;
    @include tablet {
      font-size: 55px;
    }
  }

  &__list {
    margin-top: 10px;
    font-size: $fontSize-savedList;
    width: 100%;
    border-top: 2px solid rgb(255, 255, 255);
    overflow-x: auto;
    font-size: 10px;
    &::-webkit-scrollbar {
      width: 12px;
    }
    &::-webkit-scrollbar-thumb {
      color: $color-weatherForecast-condition;
    }
    @include mobileM {
      margin-top: 12px;
    }
    @include mobileXL {
      border-top: 3px solid rgb(255, 255, 255);
    }
    @include tablet {
      font-size: 14px;
      border-top: 5px solid rgb(255, 255, 255);
    }
  }
  &__listItem {
    font-weight: bold;
    letter-spacing: 0.125rem;
    font-size: 2em;
    padding: 0.3em 0;
    text-align: center;
    text-shadow: 1px 1px 2px #393737;
    &:hover {
      color: #e71d36;
      cursor: pointer;
    }
  }
}
