@import "generic/_variables.scss";
@import "generic/_reset.scss";
@import "generic/_class.scss";
@import "mixins/_mixin.scss";
@import "elements/_navigation";
@import "elements/_mainForecast.scss";
@import "elements/_extendendForecast.scss";

@import "media_querry/600px/_fontSize";
@import "media_querry/600px/_navigation.scss";
@import "media_querry/600px/_container.scss";
@import "media_querry/600px/_mainForecast.scss";
body{
  font-family: $fontFamily;
  background-repeat: repeat-x;
}
body, html {
  padding: 0;
  margin: 0;
}