@import "generic/_variables.scss";
@import "generic/_reset.scss";
@import "generic/_class.scss";
@import "mixins/_mixin.scss";
@import "elements/_navigation";
@import "elements/_mainForecast.scss";
@import "elements/_extendendForecast.scss";

@import "media_querry/600px/_fontSize";
@import "media_querry/600px/_container.scss";
@import "media_querry/600px/_mainForecast.scss";

@import "media_querry/768px/_container.scss";
@import "media_querry/768px/_mainForecast.scss";
@import "media_querry/768px/_fontSize.scss";
@import "media_querry/768px/_extendedForecast.scss";

@import "media_querry/1024px/_container.scss";
@import "media_querry/1024px/_fontSize.scss";
@import "media_querry/1024px/_mainForecast.scss";
@import "media_querry/1024px/_extendedForecast.scss";

@import "media_querry/1280px/_container.scss";
@import "media_querry/1280px/_extendedForecast.scss";
@import "media_querry/1280px/_fontSize.scss";
@import "media_querry/1280px/_mainForecast.scss";

@import "media_querry/1600px/_container.scss";
body{
  font-family: $fontFamily;
  background-repeat: repeat-x;
  background: linear-gradient(#aa076b, #61045f, #aa076b);
}
body, html {
  padding: 0;
  margin: 0;
}