@media (min-width: 768px) {


  // main forecast
  .mainForecast__title{
    font-size: 89px;
  }
  .mainForecast__date{
    font-size: 28px;
  }
  .currentWeather__temperature {
    font-size: 115px;
  }
  .currentWeather__temperature div {
    font-size: 49px;
  }
  .currentWeather__details {
    font-size: 53px;
  }
  .currentWeather__details--conditions {
    font-size: 32px;
  }

  // extended forecast
  .extendedForecast .extendedDaily__box--title {
    font-size: 32px;
  }
  .extendedDaily__general--icon {
    font-size: 85px;
  }
  .extendedDaily__general--temperature {
    font-size: 31px;
  }
  .extendedDaily__conditions {
    font-size: 31px;
  }
}