@media (min-width: 768px){
  .forecast_container {
    margin-top: 75px;
  }
  .mainForecast {
    height: 900px;
    margin-top: 100px;
  }
  .currentWeather__details--conditions {
    height: 172px;
  }
}