@media (min-width: 1024px) {
  .currentWeather {
    height: 378px;
  }
  .currentWeather__details--conditions {
    height: 213px;
  }
  .mainForecast {
    height: 1048px;
    margin-top: 100px;
  }
  .forecast_container {
    margin-top: 185px;
  }

}