$fontSize-searchBar: 41px;
$fontSize-weatherForecast-city: 51px;
$fontSize-weatherForecast-date: 19px;
$fontSize-weatherForecast-temperatureBig: 134px;
$fontSize-weatherForecast-temperatureMid: 134px;
$fontSize-weatherForecast-temperatureSmall: 11px;
$fontSize-weatherForecast-weather: 35px;
$fontSize-weatherForecast-weatherChances: 25px;
$fontSize-navigation-icon: 30px;
$fontSize-navigation-searchBar: 32px;
$fontColor-primary: white;
$fontFamily: 'Roboto', sans-serif;
$backgroundColor-opacity: rgba(0, 0, 0, 0.1);