@media (min-width: 768px){
  .extendedForecast {
    height: 207px;
  }
  .extendedDaily__general {
    height: 156px;
  }
  .extendedDaily__conditions{
    height: 156px;
    justify-content: space-between;
  }
}