@media (max-width: 375px) {
  .forecast_container {
    margin-top: -95px;
  }
.currentWeather {
  margin-top: 26px;
}

.currentWeather__details--conditions {
  margin-top: 11px;
  height: 101px;
}

.footer__saveBtn {
  margin-top: 13px;
}

}